input{
    width:80%;
    border-radius:10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    height:30px;
    margin-top:30px;
    padding:10px;
}

/* icheckbox{
    width:80%;
    border-radius:10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height:40px;
    margin-top:10px;
} */